$path: '/fonts/';

$SansPro: "SourceSansPro",
Helvetica,
Arial,
sans-serif;


@mixin fontFace($name, $src, $weight, $style) {
    $source: $path+$src;

    @font-face {
        font-family: $name;
        src: url($source + '.ttf') format('truetype');
       
            
        font-weight: $weight;
        font-style: $style;
        // src: url($source + '.eot?#iefix') format('embedded-opentype'),
        //     url($source + '.woff2') format('woff2'),
        //     url($source + '.woff') format('woff'),
        //     url($source + '.ttf') format('truetype');
    }
}


@include fontFace('SourceSansPro', 'SourceSansPro-Light', 300, normal);
@include fontFace('SourceSansPro', 'SourceSansPro-Regular', 400, normal);
@include fontFace('SourceSansPro', 'SourceSansPro-SemiBold', 600, normal);
@include fontFace('SourceSansPro', 'SourceSansPro-Bold', 700, normal);