@import "colors.scss";
@import "fonts.scss";

html {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.page {
    position: relative;
    font-family: $SansPro;
}
.text-up {
    text-transform: uppercase;
}
// .top-block::after{
//         content: '';
//         width: 100%;
//         height: 540px;
//         background-color: #525252;
//         opacity: 1;
//     }
.top-block {
    background-image: url(/images/Rectangle5.2.png);
    background-size: cover;
    height: 540px;

    &__content {
        color: #fff;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
    }
    &__info {
        font-weight: 400;
        font-size: 16px;
    }
    &__other {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 70px;
    }

    .link-more {
        color: #fff;
        padding: 17px 55px 0px 55px;

        background-color: #8abf42;
    }
}

.top-block:after {
    height: 540px;
    background-color: #525252;
    opacity: 1;
}
.menu {
    position: fixed;
    width: 8.33vw;
    min-width: 8.33vw;
    height: 100%;
    background-color: #e0e0e0;
    z-index: 1;
    margin-left: -15px;
    &__icons {
        margin-left: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__lines {
        margin-top: 35px;
        flex-shrink: 0;
    }

    &__social {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .facebook {
            margin-bottom: 40px;
        }
        .insta {
            margin-bottom: 40px;
        }
        .youtube {
            margin-bottom: 74px;
        }
        .lang {
            margin-bottom: 40px;
        }
    }
}
.header {
    height: 100px;
    display: flex;
    &__row {
        height: 100%;
    }
    &__logo {
        display: flex;
    }
    &__phone {
        margin-right: 2.625em;
        font-weight: 700;
        font-size: 1.125em;
    }
    &__numbers {
        color: #fff;
    }
    &__phone-second {
        margin-right: 0.6875em;
        font-weight: 700;
        font-size: 1.125em;
    }
    &__info {
        font-weight: 400;
        font-size: 0.875em;
    }
    &__geo {
        display: flex;
        justify-content: center;
    }
    &__city {
        color: #fff;
        font-weight: 600;
        font-size: 1.125em;
        margin-left: 8px;
    }
    &__search {
        display: flex;
        justify-content: center;
    }
}

.main {
    position: relative;
    background-color: #fff;
    &__content {
        &-start {
            font-weight: 700;
            font-size: 26px;
        }
        &-text {
            font-weight: 300;
            font-size: 1.5em;
        }

        &-end {
            font-weight: 300;
            font-size: 1.125em;
            margin-bottom: 105px;
        }
    }

    .cells,
    .cells-second {
        display: flex;
    }

    .cell__icon {
        flex-shrink: 0;
        margin-right: 16px;
    }
    .cell-all {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 10px;
        flex-shrink: 0;
        &__desc {
            font-weight: 600;
            font-size: 1em;
        }
        &__info {
            font-weight: 300;
            font-size: 1em;
        }
        &:last-child {
            flex-direction: column;
        }
    }
    .line {
        border-bottom: 1px solid #000;
        margin-bottom: 0.8em;
    }
    .global-header {
        font-weight: 700;
        font-size: 2em;
    }
    .news {
        display: flex;
    }
    .news-block {
        &__header {
            font-weight: 700;
            font-size: 1.125em;
        }
        &__desc {
            font-weight: 300;
            font-size: 0.875em;
        }
    }
    .pic-info {
        display: flex;
        &__data {
            font-weight: 300;
            font-size: 0.875em;
        }

        &__vertival-line {
            border-left: 1px solid #000000;
            height: 100%;
        }
        &__depart {
            font-weight: 300;
            font-size: 0.875em;
        }
    }
    .link-white {
        display: inline-block;
        color: #000;
        padding: 17px 51px 0px 51px;
        height: 60px;
        border: 1px solid #88bf1f;
        font-weight: 400;
        font-size: 18px;
    }
    .brands{
        height: 203px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
